<div id="chart">
</div>
 <!--<script src="{{ url_for('static', filename='js/apex/apexcharts.js') }}"></script> -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts@latest"> </script>

<script>
    var options = {
        series: [{
            name: 'Bitcoin Price',
            type: 'column',
            data: [{% for daily_price in btc %} {{ daily_price.average }}, {% endfor %}]
        }, {
          name: 'Sentiment Analysis',
          type: 'line',
          data: [{% for tweet in tweets %} {{ tweet }} * 10000, {% endfor %}]
        }],
          chart: {
          height: 350,
          type: 'line',
        },
        stroke: {
          width: [0, 4]
        },
        title: {
          text: 'Traffic Sources'
        },
        dataLabels: {
          enabled: true,
          enabledOnSeries: [1]
        },
        labels: ['01 Jan 2001', '02 Jan 2001', '03 Jan 2001', '04 Jan 2001', '05 Jan 2001', '06 Jan 2001', '07 Jan 2001', '08 Jan 2001', '09 Jan 2001', '10 Jan 2001', '11 Jan 2001', '12 Jan 2001'],
        xaxis: {
          type: 'datetime'
        },
        yaxis: [{
          title: {
            text: 'Website Blog',
          },

        }, {
          opposite: true,
          title: {
            text: 'Social Media'
          }
        }]
    };

    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
</script>