<div id="chart">
</div>
 <!--<script src="{{ url_for('static', filename='js/apex/apexcharts.js') }}"></script> -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts@latest"> </script>
<script>
    var options = {
        series: [{
            data: [
                {% for price in prices %}
                    {
                        x: new Date('{{ price.date }}').toLocaleDateString(),
                        y: {{ price.average }},
                    },
                {% endfor %}
            ]
        }],
          chart: {
          type: 'area',
          stacked: false,
          height: 350,
          zoom: {
            type: 'x',
            enabled: true,
            autoScaleYaxis: true
          },
          toolbar: {
            autoSelected: 'zoom'
          }
        },
        dataLabels: {
          enabled: false
        },
        markers: {
          size: 0,
        },
        title: {
          text: 'BTC Daily Price',
          align: 'left'
        },
        fill: {
          type: 'gradient',
          gradient: {
            shadeIntensity: 1,
            inverseColors: false,
            opacityFrom: 0.5,
            opacityTo: 0,
            stops: [0, 90, 100]
          },
        },
        tooltip: {
          shared: false,
          y: {
            formatter: function (val) {
              return val;

            }
          }
        }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
</script>