<div id="chart">
</div>
 <!--<script src="{{ url_for('static', filename='js/apex/apexcharts.js') }}"></script> -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts@latest"> </script>

<script>
    var options = {
        series: [{
            name: 'Bitcoin Price',
            type: 'column',
            data: [
                {% for daily_price in btc %}
                    {
                        x: new Date('{{ daily_price.date }}').toLocaleDateString(),
                        y: {{ daily_price.average }}
                    },
                {% endfor %}
            ]
        }, {
          name: 'Average Tweet Sentiment',
          type: 'line',
          data: [
                {% for sentiment in tweet_sentiments %}
                    {
                        x: new Date('{{ sentiment.date }}').toLocaleDateString(),
                        y: {{ sentiment.avg_sentiment }}
                    },
                {% endfor %}
          ]
        }, {
          name: 'Average Article Sentiment',
          type: 'line',
          data: [
              {% for sentiment in article_sentiments %}
                    {
                        x: new Date('{{ sentiment.date }}').toLocaleDateString(),
                        y: {{ sentiment.avg_sentiment }}
                    },
              {% endfor %}
          ]
        }],
        colors: ["#ff931e", "#00bdea", "#a52ffa"],
          chart: {
          height: 350,
          type: 'line',
          stacked: false
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          width: [1, 4, 4]
        },
        title: {
          text: '{{ title }}',
          align: 'left',
          offsetX: 110
        },
        xaxis: {
          categories: [{% for sentiment in tweet_sentiments %} new Date('{{ sentiment.date }}').toLocaleDateString(), {% endfor %}],
        },
        yaxis: [
          {
            axisTicks: {
              show: true,
            },
            axisBorder: {
              show: true,
              color: '#008FFB'
            },
            labels: {
              style: {
                colors: '#008FFB',
              }
            },
            title: {
              text: "Income (thousand crores)",
              style: {
                color: '#008FFB',
              }
            },
            tooltip: {
              enabled: true
            }
          },
          {
            seriesName: 'Income',
            opposite: true,
            axisTicks: {
              show: true,
            },
            axisBorder: {
              show: true,
              color: '#00E396'
            },
            labels: {
              style: {
                colors: '#00E396',
              }
            },
            title: {
              text: "Operating Cashflow (thousand crores)",
              style: {
                color: '#00E396',
              }
            },
          },
          {
            seriesName: 'Revenue',
            opposite: true,
            axisTicks: {
              show: true,
            },
            axisBorder: {
              show: true,
              color: '#FEB019'
            },
            labels: {
              style: {
                colors: '#FEB019',
              },
            },
            title: {
              text: "Revenue (thousand crores)",
              style: {
                color: '#FEB019',
              }
            }
          },
        ],
        tooltip: {
          fixed: {
            enabled: true,
            position: 'topLeft', // topRight, topLeft, bottomRight, bottomLeft
            offsetY: 30,
            offsetX: 60
          },
        },
        legend: {
          horizontalAlign: 'left',
          offsetX: 40
        }
        };

    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
</script>