<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<body class="bg-white">
    <div class="container">
        <div id="tweetCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% set vars = {'first': True} %}
                {% for tweet in tweets %}
                    {% if vars.first %}
                        <div class="carousel-item active">
                            <blockquote class="twitter-tweet">
                                <p lang="en" dir="ltr">
                                    {{ tweet.text }}
                                </p>&mdash; {{ tweet.username }}
                                <a href="{{ tweet.link }}">{{ tweet.date }}</a>
                            </blockquote>
                        </div>
                        {% if vars.update({'first': False}) %} {% endif %}
                    {% else %}
                        <div class="carousel-item">
                            <blockquote class="twitter-tweet">
                                <p lang="en" dir="ltr">
                                    {{ tweet.text }}
                                </p>&mdash; {{ tweet.username }}
                                <a href="{{ tweet.link }}">{{ tweet.date }}</a>
                            </blockquote>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#tweetCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#tweetCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</body>
