<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<select>
    <option value="btc_daily_price">BTC Daily Price</option>
    <option value="btc_weekly_price">BTC Weekly Price</option>
    <option value="btc_monthly_price">BTC Monthly Price</option>
    <option value="btc_daily_sentiment">BTC Daily Sentiment</option>
    <option value="btc_weekly_sentiment">BTC Weekly Sentiment</option>
    <option value="btc_monthly_sentiment">BTC Monthly Sentiment</option>
</select>



<script>
    $('select').on('change', function() {
        $('iframe').not('#' + this.value).hide();
        $('#' + this.value).show();
    });
</script>