<html>
    <head>
        <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>To The Moon</title>
    </head>
    <body class="bg-dark text-light">
        <br>
        <div id="content">
            <div class="container">
                <div align="center">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>